<html>
<link rel="stylesheet" type="text/css" href="../../static/main.css">
<body>
	<b>Gradient(Slope) of graph at selected bar</b>
	<div class="wrapper" style="margin: 0 auto; width:1800px; position: relative;">
		<canvas id="graident" width="200" height="200" align="center" style="border:1px solid #d3d3d3;">
		</canvas>
		<div class="controls" style="position: absolute; top:0; left:240;">
			<br>
			<div id="ui"></div>
			<div id="help">
			Click one of the bars below once to highlight it. Click the same bar again to reveal its value.
			</div>
			<button id='finishNow'>Think you've found the Maximum? Go to next task</button>
		</div>
	</div>
	<div id="barContainer">
	</div>
	<canvas id="xaxis" width="1553" height="14">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="../static/init_bars.js"></script>
	<script>

		var yaxis = document.createElement('canvas')
		yaxis.height = persistantData['bar_height'] + 22
		yaxis.width = 16
		var ctx = yaxis.getContext('2d');

		ctx.beginPath();
		ctx.moveTo(8,persistantData['bar_height'] + 22);
		ctx.strokeStyle = "black";
		ctx.lineWidth = 3.75;
		ctx.lineTo(8,6);
		ctx.moveTo(8,4);
		ctx.lineTo(3,15);
		ctx.lineTo(13,15);
		ctx.lineTo(8,4);
		ctx.stroke();
		barContainer.appendChild(yaxis)

	for (var i = 0; i<persistantData['nbars']; i++){
		var tmp = document.createElement('canvas')
		tmp.width=persistantData['bar_width']
		tmp.height=persistantData['bar_height']
		tmp.id='bar'+i
		tmp.className='bar'
		tmp.addEventListener('click',Click)
		barContainer.appendChild(tmp)
	}

	var xtraarrow = document.createElement('canvas')
	xtraarrow.height = persistantData['bar_height']
	xtraarrow.width = 8
	var ctx = xtraarrow.getContext('2d');
	ctx.beginPath();
	ctx.moveTo(0,persistantData['bar_height']);
	ctx.strokeStyle = "black";
	ctx.lineWidth = 4;
	ctx.lineTo(0,persistantData['bar_height'] - 2 );
	ctx.lineTo(4,persistantData['bar_height']);
	ctx.lineTo(0,persistantData['bar_height']);
	ctx.stroke();

	barContainer.appendChild(xtraarrow)



	var xaxis = document.getElementById("xaxis");
	var ctx = xaxis.getContext('2d');
	ctx.beginPath();
	ctx.moveTo(8, 0);
	ctx.strokeStyle = "black";
	ctx.lineWidth = 4;
	ctx.lineTo(8,4)
	ctx.lineTo(1548,4);
	ctx.moveTo(1549,4);
	ctx.lineTo(1538,0);
	ctx.lineTo(1538,10);
	ctx.lineTo(1549,4);
	ctx.stroke()


	init_bars([])
	var trials=persistantData['trials']
	var response=[]
	var response_time=[]
	var totalScore=0
	var start_time=Date.now()
	var clickedBars = []
	var experiment_num = '5'

	document.getElementById("ui").innerHTML="Trials Remaining: "+trials+"<br>Total Score: "+Math.round(totalScore)
	document.getElementById('finishNow').addEventListener("click", finishEarly)

	function Click(event){
		var bar = event.target
		var x=parseInt(bar.id.substring(3))

		if(bar.className.indexOf("focus") > 0){
			document.getElementById("help").innerHTML="Click any of the non-highlighted bars below once to highlight it. Click the same bar again to reveal its value."
		   	bar.className += " active"
				clickedBars.push(x);
	   		var score=persistantData['function'][experiment_num][x]
	        Move(bar.height-score, x);
	        Submit(x,score);
					drawGrad(x);

		}else{

		    bars = document.getElementsByClassName("focus");
	        document.getElementById("help").innerHTML="Click the highlighted bar again to reveal its value. This value will be your new score if it is greater than your current score."
	        for(var i=0; i<bars.length; i++){
	            bars[i].className = bars[i].className.replace(" focus", "")
	        }
	        bar.className += " focus";
					if(clickedBars.includes(x)){
						console.log(x);
						drawGrad(x);
					}
		}
	}

	function Move(ypos, xpos){
	    bar = document.getElementsByClassName("focus")[0];
	    ctx = bar.getContext("2d");
	    ctx.fillStyle = "black"
	    ctx.clearRect(0, 0, bar.width, bar.height);
	    ctx.fillRect(0, ypos, 15, bar.height);
	}

	function Submit(x,score){
		console.log(score)
		response.push(x)
		response_time.push(Date.now())
		totalScore=Math.max(totalScore,score)
		trials-=1
		document.getElementById("ui").innerHTML="Trials Remaining: "+trials+"<br>Total Score: "+Math.round(totalScore)+"(+"+trials+" Bonus points)"
		if(trials<=0){
			results[experiment_num]= [start_time, response, response_time, totalScore, trials]
			nextPage()
			}
	}
	function drawGrad(x){
		var c = document.getElementById("graident");
		var ctx = c.getContext("2d");
		ctx.clearRect(0, 0, c.width, c.height);

		ctx.fillStyle = "black";
		ctx.fillRect(50, 100, c.width-100, c.height);

		ctx.restore();
		var movement = 60;
		equation = '(-(0.002*x)^2 +1.6*(0.002*x)^1.5)*650';
		grads = persistantData['grad'][experiment_num];
		grad = grads[x];
		console.log(grad, x);
		ctx.beginPath();
		ctx.moveTo(100, 100);
		ctx.strokeStyle = "#FF0000";
		ctx.lineTo(100+movement,100-(grad*movement));
		ctx.lineTo(100-movement,100+(grad*movement));

		ctx.stroke();
		}

	function finishEarly(){
				results[experiment_num]= [start_time, response, response_time, totalScore, trials]
				nextPage()
	}



</script>
<link rel="stylesheet" type="text/css" href="../static/bar_style.css">

</body>
</html>
