
<html>
<link rel="stylesheet" type="text/css" href="../../static/main.css">
<div id="postMessage">
submitting (If submission doesn't complete in 10 seconds, please inform the requester)
</div>
<div id="Scores">
Final scores for each round:
</div>
</html>

<script type="text/javascript">

persistantData['results']=results
persistantData['complete']=true
console.log(persistantData)

$.ajax({
        method:"post",
        url:"/",
        dataType:'json',
        data:JSON.stringify(persistantData),
        contentType:'application/json; charset=utf-8',
        success: function(data, textStatus, jqXHR) {
        	message(jqXHR.status)
  		},
  		error: function(jqXHR, textStatus, errorThrown) {
			message(jqXHR.status)
  		}
    });

function message(status){
  document.getElementById("postMessage").innerHTML="Thanks! You're all done. Please submit the code " + status
  document.getElementById("Scores").innerHTML="Scores for each round: <br> 1) Max score: 517 | Your Score: " + Math.round(results[1][3] + results[1][4]) +
  "<br> 2) Max score: 488 | Your Score: " + Math.round(results[2][3] + results[2][4]) +
  "<br> 3) Max score: 473 | Your Score: " + Math.round(results[3][3] + results[3][4]) +
  "<br> 4) Max score: 464 | Your Score: " + Math.round(results[4][3] + results[4][4]) +
  "<br> 5) Max score: 494 | Your Score: " + Math.round(results[5][3] + results[5][4]) +
  "<br> 6) Max score: 513 | Your Score: " + Math.round(results[6][3] + results[6][4])



}

</script>
