<html>
<link rel="stylesheet" type="text/css" href="../../static/main.css">
<body>

<div>
<h1>Information and consent form</h1>
 <strong>Study title: ‘Modelling human behaviour in 1 Dimensional exploration & exploitation tasks’</strong>

<p>This study was certified according to the Informatics Research Ethics Process, RT number 4648. Please take time to read the following information carefully

The goal of this study is to understand how people learn about relationships in data. Specifically
how humans search when trying to find the maximum of an unseen graph.

<p>Participation in this study is entirely up to you. You can withdraw from the study at any
  time, without giving a reason. Your rights will not be affected. If you wish to withdraw,
  close the browser window at any point during the experiment. We will stop using your data in
  any publications or presentations submitted after you have withdrawn consent. Because we do not
  link mturk ID’s to our experimental data it is not possible to withdraw after the experiment is
  completed.</p>

<p>What will happen if I decide to take part?
  <ul>
  <li> Data will collected on the position of your clicks on the graph, as well as the time taken for each click.
  <li> The data will be collected during the experiment, and stored after it concludes.
  <li> The experiment should last no longer than 20 minutes
  <li> No audio or video will be recorded during the experiment
  </ul>
</p>

<p>There are no benefits associated with taking part in this experiment, aside from financial compensation.
  You will be paid the amount given in the HIT description, and there are no significant risks associated with participation.

<p>The results of this study may be summarised in published articles, reports and presentations. We may share anonymous data
  with other researchers. We will remove any information that could, in our assessment, allow anyone to identify you.


<h3>Data protection and confidentiality.</h3>
  <p>Your data will be processed in accordance with Data Protection Law. Any personal information collected about you will
  be kept strictly confidential and will be stored on a password-protected encrypted computer, on the School of Informatics’
  secure file servers, or on the University’s secure encrypted cloud storage services (DataShare, ownCloud, or Sharepoint).
  Your data will be referred to by a unique participant identifier rather than by name or mturk ID.

  <p>The University of Edinburgh is a Data Controller for the information you provide. You have the right to access information
    held about you. Your right of access can be exercised in accordance Data Protection Law. You also have other rights
    including rights of correction, erasure and objection. For more details, including the right to lodge a complaint with the
    Information Commissioner’s Office, please visit www.ico.org.uk. Questions, comments and requests about your personal data
    can also be sent to the University Data Protection Officer at dpo@ed.ac.uk.


Also, please take note of the following:
  <ul>
  <li>This study may not work with touchscreen devices. If you are using such a device, such as a tablet or smartphone and find it does not work, please return this HIT. We apologize for any inconvenience.</li>
  <li>Once you have submitted a judgment, you will not be able to change it -- please do not use the back or reload buttons during the experiment.</li>
</ul>


<p>If you have any further questions about the study, please contact the lead researcher: Joseph Hyland - s1688207@ed.ac.uk
  or PI - clucas2@inf.ac.ed.uk

If you have any complaints that cannot be resolved by the research team, please contact inf-ethics@inf.ed.ac.uk. When you
contact us, please provide the study title and detail the nature of your complaint.


<p>To participate, click the button below.
<br>If you do not wish to participate, please close this window and return the HIT.
</div>




<button id="next">I agree to participate in this study</button>

</body>

<script>

document.getElementById("next").addEventListener("click", nextPage)
</script>


</html>
